<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisco.app.mapper.PetMapper">

    <!--  查询方法  -->

    <select id="selectAll" resultType="com.fisco.app.entity.Pet">
        select * from tb_pet;
    </select>

    <select id="selectById" resultType="com.fisco.app.entity.Pet">
        select * from tb_pet where pet_id=#{pet_id};
    </select>

    <select id="selectByOwner" resultType="com.fisco.app.entity.Pet">
        select * from tb_pet where owner=#{owner};
    </select>
    <select id="selectByClass" resultType="com.fisco.app.entity.Pet">
        select * from tb_pet where pet_class=#{pet_class};
    </select>


</mapper>